.responsiveChart{
  min-height: 300px !important;
  width: 100% !important;
  height: 50vh !important;
}


.marginPanel{
  margin-left: 50px;
  margin-right: 50px;
}

.marginLabel{
  margin-bottom: 20px;
}

.textAling{
  text-align: center;
}