<div class="row">
  <div id="container" style="height: 400px; padding: 20px;"></div>
</div>
&nbsp;
<div class="panel marginPanel" >
  <div class="form-group">
    <div class="row">

      <div class="col-md-4"></div>
      <div class="col-md-4">
        <pieChart [data]="pbar1"></pieChart>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div>
      <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-6 textAling" >
          <label class="marginLabel ">Porcentagem de meta de vendas alcançadas no mês XX!</label>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>